# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# --- Virtual environment ---
venv/
.env
.env.*

# --- macOS ---
.DS_Store

# --- Logs ---
*.log

# --- IDEs ---
.vscode/
.idea/

# --- Jupyter / IPython ---
.ipynb_checkpoints/

# --- Build files ---
*.egg-info/
dist/
build/

# --- Secrets ---
*.key
*.pem
*.secret
